@model ApplicationUser
@{
    //ViewData["Title"] = ViewBag.title;
}
@section header
    {
    <link rel="stylesheet" href="~/css/side__menu.min.css" />
    <link rel="stylesheet" href="~/css/BookPlayPanel.css" />
    <link rel="stylesheet" href="~/css/books-side-menu.css" />
    <link rel="stylesheet" href="~/css/book-page.min.css" />
    <link rel="stylesheet" href="~/css/check_box.min.css" />
}


<div id="word-test-box" class="modal fade">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Тест</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td><button type="button" class="btn btn-primary text-center">AAAAAAA</button></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary text-center">SSSSSSS</button></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary text-center">DDDDDDD</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <style>
                #word-test-box td {
                    text-align: center;
                }

                    #word-test-box td button {
                        width: 100%;
                        position: inherit;
                    }
            </style>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button id="btn-repeat-test" type="button" class="btn btn-success" onclick="btnRepeatTest_OnClick(this)">Повторить</button>
                <button id="test-box-btn-close" type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-window" title="" hidden="hidden">
    <div id="dialog_message">
    </div>
</div>

<audio id="audio" controls></audio>

<div id="trans-select-panel" class="modal fade">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Перевести выделенный фрагмент?
            </div>
            <div id="target-text" class="container-fluid">
            </div>
            <hr />
            <div id="translated-text" class="container-fluid">

            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center play-panel">
                            <a class="btn-trans-by-text btn btn-info" href="#">Перевести как текст</a>
                            <a class="btn-translate-by-words btn btn-info" href="#">Перевести по словам</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="translate-panel" class="modal fade">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content  not-transparenr">
            <div class="modal-header">
                <h1 id="eng-word">Преводчик</h1>
            </div>
            <div class="container-fluid">
                <div id="select-text" class="row">

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center play-panel">
                    <a id="btn-translate" class="btn-translate-by-words btn btn-info" href="#">Перевести по словам</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="words-panel" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content not-transparenr">
            <div class="modal-header">
                <h1 id="eng-word">Результат перевода</h1>
            </div>
            <div class="container-fluid">
                <table id="words-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>English</th>
                            <th>Русский</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <style>
                    .modal {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 100%;
                    }
                </style>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 text-center  play-panel" id="div-start">
                    <a id="btn-save" class="btn btn-success" href="#">Сохранить в базу</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="settings-panel" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered">
        <div class="modal-content not-transparenr">
            <div class="modal-header">
                <div>Настройки</div>
            </div>
            <div class="container-fluid">
                <label>Озвучивание</label>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="en-voices-list">Английский</label>
                        <select id="en-voices-list" name="en_voice" class="selectpicker"></select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="ru-voices-list">Русский<span style="color: transparent;">aaa</span></label>
                        <select id="ru-voices-list" class="selectpicker"></select>
                    </div>
                </div>
                <hr />
                <label>Беглость речи</label>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="en-rate">Английский</label>
                        <select id="en-rate" name="en_rate" class="selectpicker" onchange="enRate_OnChange()">
                            <option value="norm">Нормально</option>
                            <option value="slow">Медленно</option>
                            <option value="fast">Быстро</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label for="ru-rate">Русский<span style="color: transparent;">aaa</span></label>
                        <select id="ru-rate" name="ru_rate" class="selectpicker" onchange="ruRate_OnChange()">
                            <option value="norm">Нормально</option>
                            <option value="slow">Медленно</option>
                            <option value="fast">Быстро</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 text-center">
                    <a id="btn-save-settings" class="btn btn-success" href="#" onclick="btnSaveSetings_OnClick()">Сохранить настройки</a>
                </div>
            </div>
        </div>
    </div>
    <style>
        #settings-panel {
            height: 700px;
        }
    </style>
</div>




<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <a id="btn-call-translate" class="btn btn-info" href="#play-panel">Яндекс.Переводчик</a>
        </div>
    </div>

    <div id="page" class="row">

    </div>

    <div class="row">
        <ul id="pagination-demo" class="pagination-sm container"></ul>
    </div>

    <div class="row">
        <div class="container" id="book-play-panel" data-toggle="popover">
            <div class="col-xs-0 col-md-3 col-lg-4 text-center">
            </div>

            <div id="vol-control" class="col-xs-3 col-md-2 col-lg-1 text-center">
                <div id="volume"></div>
            </div>

            <div class="col-xs-2 col-md-2 col-lg-1 text-center">
                <i id="fa_sound" class="fa-sound fa fa-volume-up fa-play-panel" aria-hidden="true" onclick="speakOnly()"></i>
            </div>

            <div class="col-xs-2 col-md-2 col-lg-1 text-center">
                <div id="fa_back"><i class="fa fa-step-backward fa-lg fa-play-panel"></i></div>
            </div>

            <div class="col-xs-2 col-md-1 col-lg-1 text-center">
                <div id="fa_play">
                    <i id="i_fa_play" class="fa fa-play fa-lg fa-play-panel"></i>
                </div>

                @*<div id="fa_pause" style="display: none;">
                        <i class="fa fa-pause fa-lg fa-play-panel"></i>
                        <script>
                            document.getElementById("fa_pause").onclick = function (event)
                            {
                                isPlay = false;
                                $('#audio')[0].pause();
                            };
                        </script>
                    </div>*@
            </div>

            <div id="fa-next" class="col-xs-2 col-md-2 col-lg-1 text-center">
                <i class="fa fa-step-forward fa-lg fa-play-panel"></i>
            </div>

        </div>
    </div>

</div>



<div id="books-side-menu" class="books-side-menu navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
    <div class="navmenu-nav text-center">@await Html.PartialAsync("LoginPartial")</div>
    <hr />
    <a id="book-header" class="navmenu-brand visible-md visible-lg" href="#">@ViewBag.BookName</a>
    <a id="book-author" class="navmenu-brand visible-md visible-lg" href="#">@ViewBag.BookAuthor</a>
    <div id="book-number" hidden>@ViewBag.pageNumber</div>

    <div class="nav navmenu-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <label for="book-contents" title="Содержание">Содержание</label>
                    <div id="book-contents">@Html.Raw(ViewBag.BookContents)</div>
                </div>
            </div>
            <hr />
            <div id="learned-mode" class="row">
                <div class="col-xs-12">
                    <label for="learn-mode" title="Режим">Режим обучения:</label>
                    <select id="learn-mode" class="selectpicker">
                        <option value="sentence">Учить по предложениям</option>
                        <option value="paragraf">Учить по абзацам</option>
                        <option value="page">Учить все слова на странице</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a id="btn-settings" class="btn btn-default" data-toggle="modal" onclick="btnSettings_OnLick()">
                        <i class="fa fa-sliders"></i>   Настройки
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="books-side-menu-2" class="books-side-menu navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
    <button id="btn-side-menu" type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">@ViewBag.BookName. @ViewBag.BookAuthor</div>
</div>

<div id="popover-title" class="container" hidden>
    <div class="container">
        <div class="row">
            <div class="exp col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="checkbox">
                    <div>
                        <input type="checkbox" id="check" name="check" value="" />
                        <label for="check">
                            <span><!-- This span is needed to create the "checkbox" element --></span>Изучено
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <i id="popover-spinner" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
            </div>
            <button id="btn_sound" type="button" class="fa-sound btn btn-warning col-lg-4 col-md-4 col-sm-4 col-xs-4" onclick="speakOnly()">
                <i id="icon-sound" class="fa fa-volume-up fa-play-panel" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div class="container" id="popover-content" hidden>
    <div id="trans_div"></div>
    <div class="container">

        <div class="row">
            <button id="btn-test-knowledge" type="button" class="btn btn-info col-lg-12 col-md-12 col-xs-12 col-sm-12" onclick="showKnowledgeTest()">
                <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
                Проверить знания
            </button>
        </div>
    </div>
</div>




















